/* latin */
@font-face {
    font-family: 'Creepster';
    font-style: normal;
    font-weight: 400;
    src: local('Creepster'), local('Creepster-Regular'), url(creepster.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
    font-family: 'Eagle Lake';
    font-style: normal;
    font-weight: 400;
    src: local('Eagle Lake'), local('EagleLake-Regular'), url(eaglelake-ext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Eagle Lake';
    font-style: normal;
    font-weight: 400;
    src: local('Eagle Lake'), local('EagleLake-Regular'), url(eaglelake.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
    font-family: 'Nosifer';
    font-style: normal;
    font-weight: 400;
    src: local('Nosifer'), local('Nosifer-Regular'), url(nosifer-ext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Nosifer';
    font-style: normal;
    font-weight: 400;
    src: local('Nosifer'), local('Nosifer-Regular'), url(nosifer.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
    font-family: 'Trade Winds';
    font-style: normal;
    font-weight: 400;
    src: local('Trade Winds'), local('TradeWinds'), url(tradewinds.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: 400;
    src: local('Alfa Slab One'), local('AlfaSlabOne-Regular'), url(alfaslabone.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
    font-family: 'Bangers';
    font-style: normal;
    font-weight: 400;
    src: local('Bangers'), local('Bangers-Regular'), url(bangers.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
    font-family: 'Bowlby One';
    font-style: normal;
    font-weight: 400;
    src: local('Bowlby One'), local('BowlbyOne'), url(bowlbyone.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
    font-family: 'Carter One';
    font-style: normal;
    font-weight: 400;
    src: local('Carter One'), local('CarterOne'), url(carterone.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
    font-family: 'Fascinate';
    font-style: normal;
    font-weight: 400;
    src: local('Fascinate'), local('Fascinate-Regular'), url(fascinate.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
    font-family: 'Finger Paint';
    font-style: normal;
    font-weight: 400;
    src: local('Finger Paint'), local('FingerPaint-Regular'), url(fingerpaint.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
    font-family: 'Piedra';
    font-style: normal;
    font-weight: 400;
    src: local('Piedra Regular'), local('Piedra-Regular'), url(piedra-ext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Piedra';
    font-style: normal;
    font-weight: 400;
    src: local('Piedra Regular'), local('Piedra-Regular'), url(piedra.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic */
@font-face {
    font-family: 'Ruslan Display';
    font-style: normal;
    font-weight: 400;
    src: local('Ruslan Display'), local('RuslanDisplay'), url(ruslandisplay-ext-1.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
    font-family: 'Ruslan Display';
    font-style: normal;
    font-weight: 400;
    src: local('Ruslan Display'), local('RuslanDisplay'), url(ruslandisplay-ext-2.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Ruslan Display';
    font-style: normal;
    font-weight: 400;
    src: local('Ruslan Display'), local('RuslanDisplay'), url(ruslandisplay.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}